* {
    margin: 0;
    padding: 0;
    font-family: Motley Forces, sans-serif;
  }

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.menu .logo img {
    width: 220px;
    transition: all 0.5s;
}

.menu .logo {
    cursor: pointer;
}

.menu .logo img:hover {
    transform: scale(1,1.1);
}

.menu .opciones {
    list-style: none;
}

.menu .opciones li{
    display: inline-block;
    padding: 0 50px;
}

.menu .opciones a{
    font-size: 30px;
    color:#582417;
    text-decoration: none;
    font-weight: bolder;
}

.menu .opciones li a:hover{
    color: #C25410;
}

.sesion {
    display: flex;
    justify-content: right;
    padding: 20px 50px;
}

.sesion button {
    height: 35px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.sesion .iniciar button {
    width: 140px;
    color:#582417;
    background:#FFFFFF;
    margin: 0 40px;
    border: 2px solid #582417;
}

.sesion .registrate button {
    width: 130px;
    color:#FFF9F9;
    background:#1F516D;
    border: 2px solid #1F516D;
}

.sesion .iniciar button:hover {
    width: 140px;
    background:#582417;
    color:#FFFFFF;
    margin: 0 40px;
    border: 2px solid #582417;
}

.sesion .registrate button:hover {
    width: 130px;
    background:#FFF9F9;
    color:#1F516D;
    border: 2px solid #1F516D;
}

hr {
    margin: 0;
    background-color: #C19063;
    border: 0;
}

.linea1 {
    height: 1px;
}

.linea2 {
    height: 55px;
    background-color: #1F516D;
}